
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: auto;
    background-color: var(--purple); 
}

.footer__col {
    width: 50%;
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.footer__privacy {
    align-self: center;
}

.footer__flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    max-width: 1200px;
    flex-wrap: wrap;
}

.footer__mobile-flex {
    width: 50%;
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
}

#footer-connect{
    margin-right: 0.5rem;
}



.footer__title {
    font-family: var(--header-font);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.footer__link {
    font-family: var(--body-font);
    color: var(--yellow);
    text-decoration: underline;
    font-size: 0.8rem;
}

#privacy-link{
    font-size: 0.6rem;
}

.footer__policy {
    font-family: var(--body-font);
    color: #fff;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
    max-width: 250px;
}


.footer__social-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#left-social-btn{
    margin-right: 0.5rem;
}

.footer__logo {
    width: auto;
    height: 8rem;
    transition: transform 200ms ease;
}

.footer__logo:hover{
    transform: scale(1.07);
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid var(--shadow);
    border-radius: 100px;
    color: #000;
    font-family: var(--body-font);
    font-weight: bold;
    transition: transform 200ms ease;
}

.social-btn:hover {
    transform: scale(1.07);
}

.social-btn__mobile {
    padding: 0.2rem 0.8rem 0.2rem 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 7px 0px var(--shadow);
}

.footer__social-btn {
    font-size: 0.8rem;
    height: 1.5rem;
    box-shadow: 0px 2px 0px var(--shadow);
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    width: 6.25rem;
}

.social-btn:active {
    box-shadow: 0px 0px 0px;
    transform: translateY(9px);
}

.footer__social-btn-icon {
    height: 1rem;
}

.social-btn__icon {
    height: 2rem;
}

#footer-facebook-icon {
    margin-bottom: 0.2rem;
}

#footer-instagram-icon {
    margin-right: 0.3rem;
}

#facebook-icon {
    margin-bottom: 0.1rem;
}

#instagram-icon {
    margin-right: 0.3rem;
}

@media only screen and (max-width: 1024px){
    .footer__flex {
        width: 100%;
    }
   
}

@media only screen and (max-width: 480px){
    .footer__policy, #privacy-link{
       display: none;
    }

    .footer__flex {
        padding: 1rem 0.5rem 2rem 0.5rem;
        width: 100%;
        justify-content: flex-start;
    }

    .footer__mobile-flex {
        display: flex;
        flex-direction: column;
        width: 60%;
        min-width: 0;
        margin-left: 0.5rem;
        z-index: 10;
    }

    .footer__col {
        width: 98%;
        position: absolute;
        justify-content: flex-end;
        min-width: 0; 
    }

    .footer__logo {
        width: auto;
        height: 10rem;
        padding-right: 0.5rem;
    }

    .footer__social-btn {
        padding: 0 0.5 0 0.3rem;
    }

    #footer-contact {
        margin-top: 1rem;
    }

    .social-btn__mobile {
        padding: 0.2rem 0.5rem 0.2rem 0.2rem;
        font-size: 1rem;
        box-shadow: 0px 4px 0px var(--shadow);
    }
    
}