/* Image slider */
.img-slider {
    position: relative;
    width: 100%;
    height: 90vh;
    min-height: 400px;
    margin-top: 3rem;
    overflow: hidden;
}

.img-slider img {
    width: 100%;
    object-fit: cover;
}

.slider__arrows {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.img-slider__arrow-background {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1.8rem;
    background-color: rgba(5, 197, 240, 0.60);
}

.slider__arrow {
    cursor: pointer;
    height: 4rem;
    padding: 5px;
    filter: drop-shadow(0px 6px 0px var(--btn-shadow-color));
    transition: transform 0.2s ease;
}

.img-slider__arrow{
    --btn-shadow-color: var(--dark-yellow);
}

.slider__arrow:hover {
    transform: scale(1.07);
}

.slider__arrow:active {
    filter: drop-shadow(0px 0px 0px);
    transition: transform 0s;
    transform: translateY(6px);
}

#waves-intro {
    margin-top: -10%;
}

@media only screen  and (max-width: 1025px){ 
    .img-slider {
        height: 45vh;
        margin-top: 3rem;
    }
    

    .img-slider__arrow-background {
        padding: 0 1.2rem;
    }

    #waves-intro {
        margin-top: -15%;
    }

}

@media only screen and (max-width: 640px){
    .img-slider img {
        height: 100%;
    }
}

@media only screen and (max-width: 540px){
    .img-slider {
        margin-top: 4rem;
        height: 50vh;
    }

    #stories-img{
        width: auto;
    } 

    #img-slider-arrows {
        display: none;
    }

    #waves-intro {
        margin-top: -15%;
    }
}



/* Home section styles */
.home-section {
    width: 100%;
}

.home-section__title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--header-font);
    margin-top: 2rem;
}

#adventures-title {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

#adventures-title.slide-in{
    opacity: 1;
}

@media only screen  and (max-width: 1024px){ 
    .home-section__title {
        margin-top: 0;
    }

    .home-section {
        margin-bottom: 2rem;
    }
}

/* Adventures Section */
#adventures-section{
    overflow-x: hidden;
    margin-bottom: 0;
}

.adventures__flex {
    width: 75%;
    max-width: 1200px;
    height: auto;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.adventures__content{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    font-family: var(--body-font);
    margin-left: 2rem;
}

#bottom-adventure-content {
    margin-left: 5rem;
}

.adventures__heading {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    transition: opacity 200ms ease;
}


.adventures__text{
    font-size: 0.8rem;
    margin: 1rem 0 2rem 0;
    max-width: 250px;
}


.adventures__btn-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#adventure-btn{
    font-size: 1rem;
}

.adventures__img-container{
    width: 50%;
}

.adventures__img {
   width: 100%;
   border-radius: 60px;
}

.from-left {
    transform: translateX(-60%);
    transition: transform  0.8s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}


.from-right {
    transform: translateX(60%);
    transition: transform 0.8s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.slide-in {
    transform: translateX(0);  
    opacity: 1;
}


@media only screen  and (max-width: 1024px){ 
    .home-section__title {
        margin-top: 1rem;
        padding: 0 0 0 0;
     } 

    .adventures__flex {
        width: 85%;
        padding: 1rem;
        margin: 1rem auto;
    }


    #bottom-adventure-content {
        margin-left: 0rem;
    }
     
 }

 @media only screen  and (max-width: 700px){
    .home-section__title {
        margin-top: 2rem;
     } 

    .from-left {
        transform: translateX(0%);
    }
    
    
    .from-right {
        transform: translateX(0%);
    }
    
    .adventures__flex {
        padding: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #top-adventure {
        margin-bottom: 4rem;
    }

    #bottom-adventure{
        flex-direction: column-reverse;
    }

    .adventures__content {
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }
    
    .adventures__img-container{
        width: 60%;
        margin-bottom: 0.5rem;
    }

    .adventures__btn-container{
        justify-content: center;
        align-items: center;
    }
 }

 @media only screen  and (max-width: 481px){ 
    .adventures__flex {
        margin: 1rem auto 2rem auto;
    }

    #top-adventure {
        margin-top: 2rem;
    }

    .adventures__text {
        max-width: 350px;
    }

    .adventures__img-container{
        width: 90%;
    }
 }


 /* Story Section */
#story-slider-section{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.story__arrows-positioner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.story__slider-arrow {
    height: 3.25rem;
    --btn-shadow-color: var(--dark-green);
}

.story__slider-container {
    display: flex;
    width: auto;
    transition: transform ease 0.5s;
}

.story__slider-card, .story__slider-screen {
    max-width: 750px;
    width: 60vw;
}

 .story__slider-card {
    display: flex;
    border-radius: 70px;
    background-color: #fff;
}

.story__slider-screen {
    display: flex;
    overflow: hidden;
    border-radius: 70px;
    background-color: transparent;
    margin: 2rem 2rem 0rem 2rem;
}

.story__slider-img-container {
    width: 50%;
    border-radius: 70px 0 0 70px; 
}

.story__slider-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.story__slider-content {
    border-top: solid 2px var(--shadow);
    border-right: 2px solid var(--shadow);
    border-bottom: 2px solid var(--shadow);
    border-radius: 0 70px 70px 0; 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
 }

 .story__slider-title, .story__slider-text {
     font-family: var(--body-font);
 }

 .story__slider-title {
     margin-bottom: 0.5rem;
 }

 .story__slider-text{
     max-width: 250px;
     padding-left: 1rem;
     font-size: 0.8rem;
 }


#left-quote {
    position: relative;
    right: 50%;
    height: 1.5rem;
}

#right-quote {
   position: relative;
   left: 50%;
   height: 1.5rem;
}


#story-slider-btn {
    margin-top: 1rem;
    font-size: 1rem;
}
 
 .slider__arrow-mobile {
     display: none;
 }

 .story__indicators {
     display: flex;
     width: 8rem;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 2rem;
     padding: 1rem;
 }

 .story__indicators-dot {
     border-radius: 100%;
     height: 15px;
     width: 15px;
     background-color: #fff;
     border: 2px #50B46D solid;
     cursor: pointer;
     transition: transform 200ms ease;
 }

 .story__indicators-dot:hover{
     transform: scale(1.2);
}

 .filled {
     background-color: #6DF594;
}

@media only screen  and (max-width: 1024px){
    .story__slider-card, .story__slider-screen{
        width: 75vw;
    }

    .story__slider-screen{
        margin: 1rem 1rem; 
    }
     
    .story__slider-content{
        padding: 2.5rem;
    }

    .story__slider-title {
        font-size: 1rem;
    }

    #story-slider-btn {
        font-size: 0.8rem;
    }
}


@media only screen  and (max-width: 800px){

    .story__slider-card, .story__slider-screen{
        width: 90vw;
    }

    .story__slider-arrow {
        display: none;
    }

    .slider__arrow-mobile {
        display: block;
        filter: drop-shadow(0 4px 0 var(--dark-green));
    }

    .slider__arrow {
        height: 40px;
    }

    #right-quote, #left-quote {
        display: none;
    }

    .story__indicators {
        width: 15rem;
        margin: 1rem 0;
    }

    .story__slider-content {
        padding: 0.2rem 1rem 0.5rem 1rem;
    }

}

@media only screen  and (max-width: 600px){
    .story__arrows-positioner{
        margin-top: -1rem;
    }

    .story__arrows-background {
        position: absolute;
        /* border: 1px solid #989898;
        box-shadow: 0px 6px 0px #989898;
        background-color: #fff;
        border-radius: 100%; */
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* cursor: pointer; */
        z-index: 1;
    }

    .story__arrows-background:active{
        box-shadow: 0px 0px 0px;
        transition: transform 0s;
        transform: translateY(6px);
    }

    .slider__arrow {
        height: 100%;
    }

    .slider__arrow:hover {
        transform: scale(1);
    }
    
    .slider__arrow:active {
        transform: translateY(0px);
    }

    #next-story-background {
        right: 0rem;
        margin-right: 0.3rem;
    }

    #next-story {
        margin-left: 0.2rem;
    }

    #previous-story-background{
        left: 0rem;
        margin-left: 0.3rem;
    }

    #previous-story {
        margin-right: 0.2rem;
    }


    .story__slider-arrow {
        display: block;
    }

    .slider__arrow-mobile {
        display: none;
    }

    .story__slider-container {
        height: auto;
    }

    .story__slider-screen {
        height: auto;
        width: 85vw;
        margin: 2rem 0;
    }

    .story__slider-card {
        margin-top: 0;
        flex-direction: column;
        height: auto;
        width: 85vw;
    }

    .story__slider-img-container {
        width: auto;
        height: 50%;
    }

    .story__slider-img {
        border-radius: 100px 100px 0 0;
    }

    .story__slider-content {
        border-radius: 0 0 100px 100px;
        width: 100%;
        height: 50%;
        border-top: none;
        border-left: 2px solid var(--shadow);
        padding: 0rem 0.5rem;
    }

    .story__slider-title {
        margin-bottom: 0;
    }

    .story__slider-text {
        padding: 0.5rem 0 0.5rem 0.5rem;
        font-size: 0.8rem;
    }

    #story-slider-btn {
        margin: 0.5rem 0 0.5rem 0; 
    }

    #right-quote, #left-quote {
        display: none;
    }

    .story__indicators {
        margin: 0; 
        padding: 0;
        margin-top: -1rem;
        width: 12rem;
    }

}