
/* Navbar styles */
.nav {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    /* border: solid orangered; */
  }

 .nav__container {
    position: absolute;
    display: flex; 
    justify-content: flex-end;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    /* border: solid 2px yellowgreen; */
}

.nav__logo {
    position: relative;
    height: 100%;
}

.nav__logo-link {
    height: 70%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 0.3rem;
}



.nav__menu {
    position: absolute; 
    top: 0;
    left: 0;
    height: 35%;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__list {
    position: relative;
    width: auto;
    margin-top: 1rem;
    display: flex;
    list-style: none;
}
 
.nav__list-item {
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--header-font);
    color: var(--purple);
    width: 10rem;
    height: 3rem;
}

.nav__list-link::before {
    content: ""; 
    position: absolute; 
    width: 100%;
    height: 4px; 
    bottom: -10px; 
    border-radius: 5px;
    left: 0; 
    background-color: var(--purple);
    visibility: hidden; 
    transform: scaleX(0);
    transition: all 200ms ease-out;
}

.nav__list-link {
    color: var(--purple);
    position: relative;
}

.nav__list-link:hover::before{
    visibility: visible; 
    transform: scaleX(1);
}

.nav__svg-large {
    display: block;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transition: 0.2s;
} 


.nav__svg-small {
    display: none;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transition: 0.2s;
    
}
  


/* path { 
     transition: 0.2s;
     d:path("M0 -3H1920V136.508 C 1150 136 381.5 136 0 137 V -3 Z");
    transform: translateY(-50px)
} */

.nav__buttons {
    display: flex;
    width: 20%;
    height: 35%;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-nav__list-item{
    display: none;
 }

.nav__btn-donate  {
    position: relative;
    background: var(--green);
    --btn-shadow-color: var(--dark-green);
    margin-bottom: 0.5rem;
}


.nav__btn-donate:hover {
    background: var(--green-hover);
}

.nav__btn-access {
    height: 3.5rem;
    margin-top: 0.4rem;
    border-radius: 100%;
    transition: all 0.2s ease;
}

.nav__btn-access:hover {
    box-shadow: 0 0 10px 3px var(--dark-blue);
    transform: scale(1.06);
}

.nav__btn-access:active {
    transform: scale(0.8) rotate(360deg);
}

.nav__dropdown-toggle {
    display: none;
}

.nav__dropdown { 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 0px 0px 16px 16px;
    height: auto;
    margin-top: 1rem;
    padding: 0 0.2rem 0.2rem 0.2rem;
    width: 10rem;
}


.nav__dropdown-shadow {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 16px 16px;
    margin-top: 1rem;
    padding: 0 0.2rem 0.2rem 0.2rem;
    width: 10rem;
    z-index: -10;
}

#work-shadow {
    height: 7rem;
}

#about-shadow {
    height: 8rem;
}

#involved-shadow {
    height: 10rem;
}

.nav__list-item:hover .nav__dropdown  {
    display: flex;
}

.nav__list-item:hover .nav__dropdown-shadow  {
    display: flex;
}

.nav__dropdown-item {
    position:relative;
    width: 100%;
    list-style: none;
}

.nav__dropdown-link  {
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 1rem;
    background-color:  white;
    margin: 0.5rem 0;
    border-radius: 30px;
    padding: 0.5rem 0;
    display: flex; 
    justify-content: center;
    color: var(--purple);
}

.nav__dropdown-link:hover {
    background-color: #F9EDFF;
    font-weight: bold;
}

.nav__toggle {
    display: none;
}

@media only screen  and (max-width: 1025px){
    .nav__btn-donate {
        height: 2rem;
        margin: 0 1rem 0.25rem 0;   
        font-size: 1.1rem;
        padding: 1rem;
    }


    .nav__btn-access {
        height: 2rem;
        margin-right: 1rem;
    }
    .nav__list {
        margin: 1.25rem 1rem 0 0;
    }

    .nav__list-item {
        font-size: 1.1rem;
        width: 7rem;
    }

    .nav__dropdown, .nav__dropdown-shadow {
        width: 7rem;
    }

    
    #about-shadow {
        height: 9.5rem;
    }
    
   

    
}

@media only screen and (max-width: 481px){
    
    .nav__svg-large {
        display: none;
    }

    .nav__svg-small {
        display: block;
    }

    #small-arch {
        transition: all 0.3s ease;
    }

    
    .nav__logo-link {
        height: 58%;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        transition: height 0.3s ease;
    }

    
    .nav__list {
        position: relative;
        top: 0;
        margin-top: 22%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        background: white;
        width: 100%; 
        transform: translateX(110%);
        transition: transform 500ms ease;
    }
   
    .nav__buttons {
        width: auto;
        height: 45%;
        z-index: 2;
    }
    
    #desktop-donate{
       display: none;
    }


    .nav__btn-access {
        height: 3rem;
        margin-right: 2rem;
    }

    .mobile-nav__toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative; 
        height: auto;
        right: 0;
        top: 0;  
        transition: all 300ms ease-in-out;
        padding: 1rem;
        cursor: pointer; 
        margin-right: 0.5rem;
    }
    
    .mobile-nav__toggle-bar {
        display: block;
        width: 30px; 
        height: 4px; 
        margin: 1.8px auto;
        transition: all 300ms ease-in-out;
        background: var(--purple);
        border-radius: 5px;
    }

    #toggle-btn.is-active .mobile-nav__toggle-bar:nth-child(2) {
        opacity: 0; 
    }

    #toggle-btn.is-active .mobile-nav__toggle-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #toggle-btn.is-active .mobile-nav__toggle-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #logo.is-active {
        height: 40%;
    }
    
    .nav__menu {
        display: block;
        width: 100%; 
        height: 45%;
        transition: border-bottom 300ms ease 250ms;
    }
    
    #nav-menu.is-active {
        border-bottom: 3px solid var(--purple);
    }

    
    #nav-list.is-active{
        transform: translateX(0%);
        transition: transform 500ms ease;  
    }
    
    .nav__list-item {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        font-size: 1.5rem;
        width: 100%;
        /* padding: 1.5rem 2rem; */
        height: auto;
        transition: border-bottom 200ms ease 500ms;
    }

    
    .nav__list-item.is-active{
        border-bottom: var(--purple) 2px solid;
    }

    .mobile-nav__list-item.is-active{
        border-bottom: none;
    }

    #list-item-donate{
        margin-top: 2rem;
        padding: 2rem 0;
    }

    #mobile-donate-btn{
        height: 4rem;
        margin: 0;
        padding: 2rem;
        font-size: 1.6rem;
    }


    #mobile-social-btns {
        justify-content: space-around;
        flex-direction: row;
        padding: 2rem 0.5rem;
    }

    .nav__dropdown-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 20%; 
        margin: 0 1rem;
    }

    .nav__dropdown-toggle-icon {
        height: 1.5rem;
        transition: transform 0.5s ease;
       
    }    

    /* #toggle-icon {
        height: 2.5rem;
    } */

    .nav__dropdown-toggle-icon.is-open {
        transform: rotateX(-180deg);
    } 


    #stories-toggle {
        visibility: hidden; 
    }

    .nav__list-link:hover::before{
        visibility: hidden; 
        transform: scaleX(1);
    }
    
    .nav__dropdown { 
        display: none;
        position: relative;
        width: 100%;
        margin-top: 0;
    }

    
    .nav__dropdown-link{
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 3.5rem;
        padding: 0; 
        height: 3rem;
        width: 100%;
        border-radius: 0;
    }
    
    .nav__dropdown-link:hover{
        background-color: #fff;
        font-weight: 600;
    }

    .nav__toggle-positioner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__list-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        height: 4rem;
        margin: 0 1rem 0 2rem;
    }

    .nav__dropdown-shadow {
        display: none;
    }
    
    
    .nav__list-item:hover .nav__dropdown  {
        display: none;
    }
    
    .nav__list-item:hover .nav__dropdown-shadow  {
        display: none;
    }
    
    /* toggle mobile dropdown menu */
    #work.is-open,  #about.is-open, #involved.is-open{
        display: flex; 
    }



}

