
/* Navbar styles */
.nav {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 150ms ease;
}


.nav__logo {
    height: 100%;
    width: auto;
}


.nav__logo-link {
    height: 300%;
    margin-top: 0.2rem;
    width: auto;
    position: absolute;
    top: 0;
    left: -0.4%;
    z-index: 10;
    background-color: #fff;
    border-radius: 100%;
    transition: all 150ms ease;
}

#shadow-logo {
    height: 300%;
    margin-top: 0.2rem;
    width: auto;
    position: absolute;
    top: 0;
    left: -0.4%;
    z-index: -1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    background-color: #fff;
    transition: all 150ms ease;
}


.nav__menu {
    position: relative; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__list {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}
 
.nav__list-item {
    text-align: center;
    font-size: 1.1rem;
    font-family: var(--header-font);
    color: var(--purple);
    width: 8rem;
    padding: 1rem 0;
    height: 100%;
    transition: all 150ms ease;
}

.nav__list-link::before {
    content: ""; 
    position: absolute; 
    width: 100%;
    height: 4px; 
    bottom: -10px; 
    border-radius: 5px;
    left: 0; 
    background-color: var(--purple);
    visibility: hidden; 
    transform: scaleX(0);
    transition: all 200ms ease-out;
}

.nav__list-link {
    color: var(--purple);
    position: relative;
}

.nav__list-link:hover::before{
    visibility: visible; 
    transform: scaleX(1);
}


.nav__buttons {
    display: flex;
    align-items: center;
}

.mobile-nav__list-item{
    display: none;
 }

#desktop-donate-btn, #mobile-donate-btn {
    font-size: 1.1rem;
    padding: 0rem 2rem;
    height: 2.5rem;
    width: 5.5rem;
    min-width: 5rem;
    background: var(--green);
    --btn-shadow-color: var(--dark-green);
    font-family: var(--header-font);
    margin: 0 1rem 0.3rem 1.5rem;
    font-weight: 500;
    transition: all 150ms ease;
}


.nav__btn-access {
    margin: 0.2rem 1.75rem 0 0.75rem;
    height: 2.5rem;
    border-radius: 100%;
    transition: all 150ms ease;
}

.nav__btn-access:hover {
    box-shadow: 0 0 10px 3px var(--dark-blue);
    transform: scale(1.06);
}

.nav__btn-access:active {
    transform: scale(0.8) rotate(360deg);
}

.nav__dropdown-toggle {
    display: none;
}

.nav__dropdown { 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    border-radius: 0px 0px 16px 16px;
    height: auto;
    margin-top: 0.75rem;
    padding: 0 0.2rem 0.2rem 0.2rem;
    width: 8rem;
}


.nav__dropdown-shadow {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 16px 16px;
    margin-top: 1rem;
    padding: 0 0.2rem 0.2rem 0.2rem;
    width: 8rem;
    z-index: -5;
}


.nav__list-item:hover .nav__dropdown  {
    display: flex;
}

.nav__list-item:hover .nav__dropdown-shadow  {
    display: flex;
}

.nav__dropdown-item {
    position:relative;
    width: fit-content;
    max-width: 80%; 
    min-width: 50%;
    list-style: none;
}


.nav__dropdown-link  {
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 1rem;
    background-color:  white;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    display: flex; 
    justify-content: center;
    color: var(--purple);
}

.nav__dropdown-link::before {
    content: ""; 
    position: absolute; 
    width: 100%;
    height: 2.5px; 
    bottom: 10px; 
    border-radius: 5px;
    margin: 0 auto; 
    background-color: var(--purple);
    visibility: hidden; 
    transform: scaleX(0);
    transition: all 200ms ease-out;
}

.nav__dropdown-link:hover::before{
    visibility: visible; 
    transform: scaleX(1);
}

.nav__toggle {
    display: none;
}

/* Nav Scrolled */
.nav__logo-link.scrolled, #shadow-logo.scrolled {
    height: 180%;
    margin-left: 1rem;
}

#desktop-donate-btn.scrolled {
    font-size: 1rem;
    height: 2rem;
    width: 5rem;
    box-shadow: 0px 5px 0px var(--btn-shadow-color);
}

#desktop-donate-btn.scrolled:active {
    box-shadow: 0px 0px 0px;
    transition: transform 0ms ease;
    transform: translateY(6px);
}

.nav__list-link.scrolled::before{
    bottom: -6px;
}

.nav__list-item.scrolled{
    font-size: 1rem;
    padding: 0.8rem 0;
}

.nav__dropdown-link.scrolled{
    font-size: 0.8rem;
}


@media only screen  and (max-width: 1024px){
    #desktop-donate-btn {
        height: 2rem;
        margin: 0 1rem 0.25rem 0;   
        font-size: 1.1rem;
        padding: 1rem;
    }
    
    .nav__logo-link, #shadow-logo{
        height: 250%;
        width: auto;
    }

    .nav__buttons {
        margin-left: 1rem; 
    }

    .nav__btn-access {
        height: 2rem;
        margin: 0 1rem 0 0;
    }

    .nav__list-link:hover::before, .nav__dropdown-link:hover::before{
        /* visibility: hidden;  */
    }

    .nav__list-item {
        font-size: 1rem;
        width: 7rem;
    }

    .nav__dropdown, .nav__dropdown-shadow {
        width: 7rem;
    }



}

@media only screen and (max-width: 740px){
    .nav {
        height: 4rem;
        transition: height 500ms ease;
    }

    .nav__container {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    #shadow-logo {
        height: 150%;
        width: auto;
        left: -2px;
    }

    .nav__logo-link {
        height: 150%;
        width: auto;
        position: absolute;
        top: 0;
        left: -2px;
        z-index: 10;
    }

    .nav__logo {
        height: 100%;
    }

    .nav__list {
        position: relative;
        top: 0;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        background: white;
        width: 100%; 
        transform: translateX(110%);
        transition: transform 500ms ease;
    }

    
    .nav__list-item {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        font-size: 1.5rem;
        width: 100%;
        height: auto;
        transition: border-bottom 200ms ease 500ms;
        padding: 0;
    }

    .nav__dropdown-item {
        width: 100%;
        max-width: 100%; 
        min-width: 100%;   
    }

    .nav__list-link:hover::before, .nav__dropdown-link:hover::before{
        visibility: hidden; 
    }
    
   
    .nav__buttons {
        position: absolute;
        z-index: 2;
    }
    
    #desktop-donate-btn{
       display: none;
    }


    .nav__btn-access {
        height: 2.5rem;
        margin-right: 2rem;
        margin-top: 0.3rem;
    }

    .mobile-nav__toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative; 
        height: auto;
        right: 15px;
        top: 0;  
        transition: all 300ms ease-in-out;
        padding: 1rem;
        cursor: pointer; 
        margin-right: 1rem;
    }
    
    .mobile-nav__toggle-bar {
        display: block;
        width: 30px; 
        height: 4px; 
        margin: 1.8px auto;
        transition: all 300ms ease-in-out;
        background: var(--purple);
        border-radius: 5px;
    }

    #toggle-btn.is-active .mobile-nav__toggle-bar:nth-child(2) {
        opacity: 0; 
    }

    #toggle-btn.is-active .mobile-nav__toggle-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #toggle-btn.is-active .mobile-nav__toggle-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav__menu {
        display: block;
        width: 100%; 
        height: 100%;
        transition: border-bottom 300ms ease 250ms;
    }
/* Open Menu */

    .nav.is-active{
        height: 5rem;
    }

    .nav__logo-link.is-active {
        height: 92%;
        margin-left: 1rem;
    }

    #shadow-logo.is-active{
        display: none;
    }
        
    #nav-menu.is-active {
        border-bottom: 3px solid var(--purple);
    }

    
    #nav-list.is-active{
        transform: translateX(0%);
        transition: transform 500ms ease;  

    }

    .nav__list-item.is-active{
        border-bottom: var(--purple) 2px solid;
        font-size: 1.5rem;
    }


    .nav__dropdown-link.is-active {
        font-size: 1rem;
    }

    

    .mobile-nav__list-item.is-active{
        border-bottom: none;
    }

    #list-item-donate{
        margin-top: 1rem;
        padding: 2rem 0 1.5rem 0;
    }

    #mobile-donate-btn{
        height: 3rem;
        width: 8rem;
        margin: 0;
        padding: 2rem;
        font-size: 1.6rem;
    }


    #mobile-social-btns {
        justify-content: space-around;
        flex-direction: row;
        padding: 1.5rem 0.5rem;
    }

    .nav__dropdown-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 20%; 
        margin: 0 1rem;
    }

    .nav__dropdown-toggle-icon {
        height: 1.5rem;
        transition: transform 0.5s ease;
       
    }    

    .nav__dropdown-toggle-icon.is-open {
        transform: rotateX(-180deg);
    } 


    #stories-toggle {
        visibility: hidden; 
    }

    
    .nav__dropdown { 
        display: none;
        position: relative;
        width: 100%;
        margin-top: 0;
        transition: height 150ms ease;
    }

    
    .nav__dropdown-link{
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 3.5rem;
        padding: 0; 
        height: 3rem;
        width: 100%;
        border-radius: 0;
    }
    
    .nav__dropdown-link:hover{
        background-color: #fff;
        font-weight: 600;
    }

    .nav__toggle-positioner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__list-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        height: 4rem;
        margin: 0 1rem 0 2rem;
    }

    .nav__dropdown-shadow {
        display: none;
    }
    
    
    .nav__list-item:hover .nav__dropdown  {
        display: none;
    }
    
    .nav__list-item:hover .nav__dropdown-shadow  {
        display: none;
    }
    

    /* toggle mobile dropdown menu */
    #work.is-open,  #about.is-open, #involved.is-open{
        display: flex; 
    }


    /* mobile scrolled positioning */
    .nav__logo-link.scrolled, #shadow-logo.scrolled {
        height: 92%;
        margin-left: 1rem;
    }

}

