* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


:root {
    --body-font: 'Kodchasan', sans-serif;
    --header-font: 'Paytone One', sans-serif;
    --purple: #8704BF;
    --light-purple: #D068FD;
    --purple-hover: #D77AFF;
    --green: #6DF594;
    --green-hover: #a5fda5;
    --dark-green: #50B46D;
    --blue: #83E5FF;
    --blue-hover: #afeeff;
    --dark-blue: #03A6CB;
    --yellow: #FFEC40;
    --yellow-hover: #fafba9;
    --dark-yellow: #D8C519;
    --shadow: #c4c4c4;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

body.is-active {
    position: fixed;
}

/* Header styles */
header {
    position: relative;
    height: auto;
    width: 100%;
    /* border: solid 2px blue; */
}

/* Button styles */

.button {
    position: relative;
    font-family: var(--body-font);
    font-size: 1.3rem;
    height: 3rem;
    padding: 1.5rem;
    border: none;
    box-shadow: 0px 6px 0px var(--btn-shadow-color);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    min-width: 8rem;
    font-weight: 700;
    transition: transform 200ms ease;
}

.button:hover {
    transform: scale(1.07);
}

.button:active {
    box-shadow: 0px 0px 0px;
    transition: transform 0ms ease;
    transform: translateY(9px);
}

.button__blue {
    background-color: var(--blue);
    --btn-shadow-color: var(--dark-blue);
}

.button__purple {
    background-color: var(--light-purple);
    --btn-shadow-color: var(--purple);
}


.button__green {
    background-color: var(--green);
    --btn-shadow-color: var(--dark-green);
}


.button__yellow {
    background-color: var(--yellow);
    --btn-shadow-color: var(--dark-yellow);
}



@media only screen  and (max-width: 1024px){ 
    .button {
        height: 2rem;
        font-size: 0.8rem;
        padding: 0.5rem 1.25rem;
        min-width: 6.5rem;
        box-shadow: 0px 5px 0px var(--btn-shadow-color);
    }

}

@media only screen  and (max-width: 481px){ 
    .button {
        height: 3rem;
        font-size: 1.2rem;
        padding:  1.5rem;
        min-width: 6rem;
        box-shadow: 0px 6px 0px var(--btn-shadow-color);
    }

}


/* Waves divider */
.waves__container {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    overflow: hidden;
    /* border: solid blue; */
}

.waves__body {
    width: 100%;
    height: fit-content; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    /* border: solid green; */
}


.waves__purple {
    background-color: var(--purple);
   
}

.waves__blue {
    background-color: var(--blue);
}

.waves__yellow {
    background-color: var(--yellow);
}

.waves__green {
    background-color: var(--green);
}

.waves__crests {
    height: auto;
    width: 105%;
    z-index: -1;
    margin: 0 -0.5rem;
} 

.top-waves {
    position: relative; 
    top: 20px;
} 

.bottom-waves {
    position: relative; 
    bottom: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 

/* Page intro content */
.intro__content{
    max-width: 600px;
    height: auto;
    color: #fff;
    text-align: center;
    font-family: var(--body-font);
}

.intro__title {
    font-family: var(--header-font);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

@media only screen  and (max-width: 1025px){ 
    .intro__title {
         font-size: 1.2rem;
     } 
     
 
 }
 
 @media only screen and (max-width: 481px){
    .top-waves { 
        top: 6px;
    } 
    
    .bottom-waves {
        bottom: 5px;
    } 
     .intro__content {
         height: 100%;
     }
     
 
     .intro__text {
         font-size: 0.8rem;
         padding: 0 0.3rem;
         margin-bottom: 1rem;
     }
 }

/* Potrait images with buttons */
.portrait__positioner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.portrait__img {
    border-radius: 50px;
    margin-bottom: 0.3rem;
}

@media only screen  and (max-width: 1024px){ 

    .portrait__positioner {
        margin-bottom: 3rem;
     }

     .portrait__img {
        border-radius: 30px;
     }

}

/* Divider styles */
.divider__content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: red solid; */
}

.divider__text {
    font-family: var(--header-font);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}


@media only screen  and (max-width: 481px){ 
    .divider__content {
        max-width: 70%;
        padding: 2rem 0;
    }
    .divider__text {
        font-family: var(--header-font);
        font-size: 1.2rem;
        /* margin-bottom: 1rem; */
    }

}

/* Supporters Section */
.supporters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding:2rem 0;
    margin: 1rem 0 2rem 0;
    /* border: orangered solid; */
}

.supporters__link{
    transition: transform 200ms ease;
}

.supporters__link:hover {
    transform: scale(1.07);
}

.supporters__text {
    max-width: 45%;
    font-family: var(--body-font);
    font-size: 1.1rem;
    text-align: center;
    padding: 2rem 0;
    /* border: solid pink 2px; */
}

.supporters__flex {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    /* border: blue solid; */

}


@media only screen  and (max-width: 481px){ 
    .supporters {
        margin: 0; 
    }

    .supporters__text {
        max-width: 80%;
    }

    .supporters__flex {
        flex-direction: column;
        width: 100%;
        /* border: blue solid; */
    }

    #bottom-sponsor{
        margin-top: 2rem;
    }
}