* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-font: 'Kodchasan', sans-serif;
    --header-font: 'Paytone One', sans-serif;
    --purple: #8704BF;
    --light-purple: #D068FD;
    --purple-hover: #D77AFF;
    --green: #8df5ab;
    --green-hover: #a5fda5;
    --dark-green: #50B46D;
    --blue: #83E5FF;
    --blue-hover: #afeeff;
    --dark-blue: #03A6CB;
    --yellow: #FFEC40;
    --shadow: #c4c4c4;
}

a {
    cursor: pointer;
    text-decoration: none;
}


.button {
    position: relative;
    font-family: var(--body-font);
    font-size: 1.3rem;
    height: 3rem;
    padding: 1.5rem;
    border: none;
    box-shadow: 0px 6px 0px var(--btn-shadow-color);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    min-width: 8rem;
    font-weight: 700;
}


.button:active {
    box-shadow: 0px 0px 0px;
    transform: translateY(9px);
}

.button__blue {
    background-color: var(--blue);
    --btn-shadow-color: var(--dark-blue);
}

.button__blue:hover{
    background: var(--blue-hover);
}

.button__purple {
    background-color: var(--light-purple);
    --btn-shadow-color: var(--purple);
}

.button__purple:hover{
    background-color: var(--purple-hover)
}

.button__green {
    background-color: var(--green);
    --btn-shadow-color: var(--dark-green);
}

.button__green:hover{
    background-color: var(--green-hover)
}

body {
    min-height: 100vh;
}

/* Header styles */
header {
    position: relative;
    height: auto;
    width: 100%;
    /* border: solid 2px blue; */
}

/* Potrait images with buttons */
.portrait__positioner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.portrait__img {
    border-radius: 50px;
    margin-bottom: 0.3rem;
}


@media only screen  and (max-width: 1024px){ 
    .button {
        height: 2rem;
        font-size: 0.8rem;
        padding: 0.5rem 1.25rem;
        min-width: 6rem;
        box-shadow: 0px 5px 0px var(--btn-shadow-color);
        pointer-events: none;
    }

    .portrait__positioner {
        margin-bottom: 3rem;
     }

     .portrait__img {
        border-radius: 30px;
     }

}