.volunteer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.volunteer__main {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volunteer__main-header{
    width: 100%;
    text-align: center;
    max-width: 800px;
    font-family: var(--header-font);
    font-weight: 500;
    font-size: 1.4rem;
    padding: 2rem 0 1rem 0;
}

.volunteer__card {
    display: flex;
    width: 90%;
    max-width: 800px;
    height: 100%;
    min-height: 480px;
    border-radius: 70px;
    background-color: #fff;
    border: 1px solid var(--shadow);
    margin: 1rem 0 1rem 0;
}

.volunteer__card-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    text-align: center;
    font-family: var(--body-font);
}

.volunteer__card-text {
    max-width: 300px;
}


.volunteer__img-container {
    width: 55%;
    border-radius: 0 70px 70px 0; 
    overflow: hidden;
}

.volunteer__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.volunteer__info {
    width: 25%;
    background-color: var(--yellow);
    margin: -15% 0;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.volunteer__info-content {
    text-align: center;
    font-family: var(--body-font);
    width: 85%;
}

#volunteer-top-content{
    margin-bottom: 2rem;
}

.volunteer__info-title {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.volunteer__info-text {
    font-size: 0.8rem;
}

@media only screen  and (max-width: 1024px){
    .volunteer__info-title {
        font-size: 1.5vw;
    }
    
    .volunteer__info-text {
        font-size: 1.2vw;
    }
    .volunteer__card {
        max-height: 400px;
        min-height: 370px;
    }

    .volunteer__card-content {
        padding: 0.5rem;
        justify-content: center;
    }

    .volunteer__card-title {
        font-size: 1.8vw;
        padding-bottom: 0.5rem;
    }

    .volunteer__card-text {
        font-size: 1.5vw;
        padding-bottom: 1rem;
    }

} 

@media only screen  and (max-width:640px){
    .volunteer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .volunteer__main, .volunteer__info {
        width: 100%;
    }

    .volunteer__main-header {
        margin-top: 1rem;
        width:  98%;
        text-align: center;
    }

    .volunteer__card {
        flex-direction: column-reverse;
        height: 550px;
        max-height: 600px;
        max-width: 400px;
        margin-bottom: 2rem; 
    }


    .volunteer__img-container {
        width: 100%;
        height: 50%;
        border-radius:  70px 70px 0 0; 
    }

    .volunteer__card-content {
        width: 100%;
        height: 50%;
        
    }

    .volunteer__card-title {
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }

    .volunteer__card-text {
        font-size: 0.8rem;
        padding-bottom: 1rem;
        max-width: 225px;
    }
    
    .volunteer__card-btn{
        font-size: 0.8rem;
        padding: 1rem;
        margin-bottom: 0.5rem;
    }
    
    .volunteer__info {
        width: 95%;
        margin: 0;
        z-index: 0;
        background-color: #fff;
        padding: 1rem 1rem 2rem 1rem;
    }
    
    .volunteer__info-title {
        font-size: 1.1rem;
    }
    
    .volunteer__info-text {
        font-size: 0.8rem;
        text-align: left;
    }
}