.tri__page {
    position: relative;
}
/* work pages headers */

.tri {
    position: relative;
    margin-top: 5rem;
    margin-bottom: -2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
}

.tri__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 150%;
    margin: -15% 0;
}

#yoga-info{
    background-color: var(--yellow);
}

#tri-info{
    background-color: var(--blue);
}

.tri__left-title {
    font-family: var(--header-font);
    margin-bottom: 1rem;
    margin-top: 25%;
    font-weight: 500;
}

.tri__left-text {
    font-family: var(--body-font);
    text-align: center;
    font-weight: 600;
    padding: 0.3rem;
}

.tri__left-text a{
    font-weight: 700;
    cursor: pointer;
    color: var(--purple);
    text-align: center;
}

.tri__center{
    width: 50%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 4rem 3rem;
}

.tri__center-header {
    font-size: 2rem;
    font-family: var(--header-font);
    margin-bottom: 1rem;
}

.tri__center-subheader {
    font-size: 1.2rem;
    font-family: var(--body-font);
    font-style: italic;
    margin: -1rem 0 1rem 0;
}

.tri__center-text {
    font-family: var(--body-font);
    max-width: 550px;
}

.tri__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

#platypus {
    padding-right: 1rem;
}

.tri__logo{
    max-height: 300px;
    width: 80%;
}

@media only screen  and (max-width: 600px){
    .tri {
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 0rem;
    }

    #yoga-info{
        background-color: #fff;
    }
    
    #tri-info{
        background-color: #fff;
    }

    .tri__center-header {
        display: none;
    }

    .tri__right, .tri__left, .tri__center {
        width: 100%;
    }

    .tri__center-subheader {
        margin: 0 0 1rem 0;
    }

    .tri__right{
        order: 3;
    }

    .tri__left {
        order: 2;
        margin: 2rem 0 1rem 0;
    }

    .tri__left-title {
        display: none;
    }

    .tri__center {
        order: 1;
        padding: 0;
        margin: 1rem 0 1rem 0;
    }

    .tri__center-text {
        padding: 0rem 2rem;

    }
}

/* yoga page benefits */
.benefits {
    display: flex;
    flex-wrap: wrap-reverse;
    font-family: var(--body-font);
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.benefits__text {
    padding: 2rem 2.5rem 2rem 1rem;
    margin-left: 2rem;
    width: 100%;
    max-width: 600px;
    min-width: 400px;
}



.benefits__title {
    margin-bottom: 2rem;
}


.benefits ul li {
    list-style: circle;
    margin-left: 2rem;
}

.benefits__img-container {
    margin: 0 auto;
}

.benefits__img {
    border-radius: 50px;
    min-width: 500px;
    max-width: 600px;
    margin-top: 2rem;
}

@media only screen  and (max-width: 740px){
    .benefits__img {
        min-width: 250px;
    }

    .benefits ul li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Tri My Best sponsor section */
.tri-sponsors {
    width: 100%;
    margin-top: 4rem;
}

.tri-sponsors__header {
    margin: 0 auto 1rem auto;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--header-font);
}

.tri-sponsors__grid {
    margin: 0.5rem auto 0 auto;
    max-width: 1000px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, minmax(175px, 1fr)); 
    grid-auto-flow: row;
    grid-auto-rows: auto;
    place-items: center;
}

.tri-sponsors__sponsor-mn, .tri-sponsors__sponsor-lg, .tri-sponsors__sponsor-sm {
    cursor: pointer;
    transition: transform 200ms ease;
}

.tri-sponsors__sponsor-mn:hover, .tri-sponsors__sponsor-lg:hover , .tri-sponsors__sponsor-sm:hover {
    transform: scale(1.07);
}

.tri-sponsors__sponsor-mn {
    grid-column: span 3;
    width: 350px;
    height: auto;
}

#little-white-house, #little-white-house-logo {
    justify-self: flex-start;
    width: 225px;
}


#gfl {
    justify-self: flex-end;
    width: 200px;
}

.tri-sponsors__sponsor-sm {
    max-width: 175px; 
    height: auto;
}

@media only screen  and (max-width: 1024px){
    .tri-sponsors__grid {
        grid-template-columns: repeat(3, minmax(140px, 1fr)); 
    }

    .tri-sponsors__sponsor-lg, .tri-sponsors__sponsor-sm{
        width: 140px;
    } 

    #gfl {
        justify-self: center;
        width: 140px;
    }

    #little-white-house, #little-white-house-logo {
       grid-row: 2;
       justify-self: center;
       width: 160px;
    }

    #last-sponsor{
        grid-column: span 3;
    }
}

@media only screen  and (max-width: 480px){
    .tri-sponsors__grid {
        grid-template-columns: repeat(2, minmax(120px, 1fr)); 
    }


    .tri-sponsors__sponsor-lg, .tri-sponsors__sponsor-sm{
        width: 120px;
    }

    
    .tri-sponsors__sponsor-mn {
        grid-column: span 2;
        grid-row: 1;
        width: 200px;
    }

    #last-sponsor{
        grid-column: span 2;
    }

  
}

/* Tri My Best Lightbox */
.thumbnails {
    position: relative;
    display: grid;
    justify-self: center;
    row-gap: 0.3rem;
    column-gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-auto-flow: row;
    place-items: center;
    margin: 1rem 0.6rem 2rem 0.6rem;
}


.thumbnail {
    width: 100%;
    cursor: pointer;
    justify-self: center;
}

.thumbnail:hover { 
  box-shadow: 0 0 0 4px var(--yellow);
}

#lightbox {
    display: none;
}

#lightbox.is-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 20;
}

#lightbox-positioner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}


#lightbox__mobile-selection {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.mobile-arrow {
    display: none;
}

#lightbox-index {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: var(--body-font);
    bottom: 0;
}

#close-lightbox {
    position: absolute;
    top: 0; 
    right: 0;
    padding: 2rem;
    cursor: pointer;
}

.lightbox__arrow {
    --btn-shadow-color: var(--dark-yellow);
    margin: 0 2rem;
}

.lightbox__img {
    width: auto;
    max-height: 70vh;
}



@media only screen  and (max-width: 1024px){
    .lightbox__arrow {
        display: none;
      }
      
      .mobile-arrow {
          display: flex;
      }
}

@media only screen  and (max-width: 640px){
    .thumbnails {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    }
}


@media (orientation: landscape) {
    .lightbox__arrow {
        display: flex;
      }
      
      .mobile-arrow {
          display: none;
      }
}